@use '../../common/mixins.scss' as *;

.scale-transition {
  @include transitionDefault();

  .scale-transition-enter-from,
  .scale-transition-leave,
  .scale-transition-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}

.scale-rotate-transition {
  @include transitionDefault();

  .scale-rotate-transition-enter-from,
  .scale-rotate-transition-leave,
  .scale-rotate-transition-leave-to {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }
}
