/**
 * Reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--base-font-family);
  font-size: 14px;
  line-height: 1.2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

// HTML5 display definitions
// Corrects block display not defined in IE6/7/8/9 & FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

// Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio,
canvas,
video {
  display: inline-block;
}

// Remove list item style
ol,
ul {
  list-style: none;
}

// Remove the gray background color from active links in IE 10.
a {
  background: transparent;
  text-decoration: none;
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
button,
input {
  line-height: normal; // 1
}

// 1. Addresses appearance set to searchfield in Safari 5, Chrome
input[type='search'] {
  -webkit-appearance: textfield; // 1
}

// Removes inner padding and search cancel button in S5, Chrome on OS X
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// 1. Removes default vertical scrollbar in IE6/7/8/9
// 2. Improves readability and alignment in all browsers
textarea {
  overflow: auto; // 1
  vertical-align: top; // 2
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  appearance: none;
}

code {
  font-family: Consolas, 'courier new', serif;
  color: #ec1f4e;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 1em;
  line-height: 1.2;
  border-radius: 3px;
}

pre {
  code {
    display: block;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    border-left: 6px solid #ec1f4e;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  &.sun {
    code {
      background-color: #f7f6f3;
      color: #000000;
    }
  }
}
